n8n/workflows/ttb-assessment.json
{
  "name": "TTB Label Assessment (Hybrid)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ttb-submission",
        "responseMode": "responseNode"
      },
      "id": "node-webhook",
      "name": "Webhook — Receive Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 240]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $env.ANTHROPIC_API_KEY }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "node-check-api",
      "name": "Use Anthropic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://assess:8000/assess",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "label_images",
              "inputDataFieldName": "={{ $json.label_image_field || 'label_image' }}"
            }
          ]
        }
      },
      "id": "node-ollama",
      "name": "Local Ollama (Fallover)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 340]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-latest",
        "prompt": "Analyze this TTB label for compliance. Return JSON with decision, reasoning, and fields.",
        "options": {}
      },
      "id": "node-anthropic",
      "name": "Anthropic API (Primary)",
      "type": "n8n-nodes-base.anthropicChatModel",
      "typeVersion": 1,
      "position": [480, 140],
      "credentials": {
        "anthropicApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Anthropic Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "leftValue": "={{ $json.decision }}",
              "rightValue": "APPROVE",
              "operator": "equals"
            }
          ]
        }
      },
      "id": "node-decision",
      "name": "Decision?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 240]
    },
    {
      "parameters": {
        "jsCode": "const assessment = $input.first().json;\nreturn { json: { ...assessment, ttb_status: 'approved', processed_at: new Date().toISOString() } };"
      },
      "id": "node-approve",
      "name": "Handle APPROVE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [950, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 240]
    }
  ],
  "connections": {
    "Webhook — Receive Submission": { "main": [[{ "node": "Use Anthropic?", "type": "main", "index": 0 }]] },
    "Use Anthropic?": {
      "main": [
        [{ "node": "Anthropic API (Primary)", "type": "main", "index": 0 }],
        [{ "node": "Local Ollama (Fallover)", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic API (Primary)": { "main": [[{ "node": "Decision?", "type": "main", "index": 0 }]] },
    "Local Ollama (Fallover)": { "main": [[{ "node": "Decision?", "type": "main", "index": 0 }]] },
    "Decision?": {
      "main": [
        [{ "node": "Handle APPROVE", "type": "main", "index": 0 }],
        [{ "node": "Handle DENY", "type": "main", "index": 0 }] 
      ]
    },
    "Handle APPROVE": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  }
}
